.login-form{
	margin: 0 auto;
    padding: 10%;

}

.login-shadow{
	    box-shadow: 1px 1px 1px #888888;
}


#body-article {
    
    height: 350px;
}


.error-404{
	text-align: center;
	
	
	margin:5px;
}


.fa-exclamation-circle{
	font-size: 100px;
}


.error-404-container{
	 margin: 0 auto;
    width: 100%;
    padding: 140px;
}


#logo img{
	height: 40px;
    margin: 5px;
    width: 40px;
}


.down-button{
	display: block;
	margin:7px;
}



#category-sort{
	list-style-type: none;
	    padding: 0;
}


#category-sort li {
	border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
    margin-top: 9px;
    padding: 0.5em;
    cursor:move;

}